.base {
  @apply text-light-800;

  .dark-mode & {
    @apply text-dark-200;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    @apply text-light-900;

    .dark-mode & {
      @apply text-dark-100;
    }
  }

  h1 { @apply text-4xl;  }
  h2 { @apply text-3xl;  }
  h3 { @apply text-2xl;  }
  h4 { @apply text-xl;   }
  h5 { @apply text-lg;   }
  h6 { @apply text-base; }

  a {
    color: saturate(darken(#88c0d0, 10%), 10%);

    .dark-mode & {
      color: #88c0d0;
    }
  }

  figcaption {
    @apply mt-1;
    @apply text-sm;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  table {
    @apply w-full;
    @apply border-collapse;
  }

  table, th, td {
    @apply p-2;
    @apply border;
    @apply border-light-500;

    .dark-mode & {
      @apply border-dark-400;
    }
  }

  th {
    @apply font-bold;
    @apply text-light-900;

    .dark-mode & {
      @apply text-dark-100;
    }
  }

  blockquote {
    @apply px-4;
    @apply border-l-2;
    @apply border-light-500;

    .dark-mode {
      @apply border-dark-400;
    }
  }

  button {
    @apply px-2;
    @apply py-1;
    @apply rounded-sm;
    @apply bg-white;
    @apply text-light-800;
    @apply border-light-200;
    @apply border;
    @apply rounded;
    @apply shadow;

    .dark-mode & {
      @apply bg-dark-500;
      @apply text-dark-200;
      @apply border-dark-800;

      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35), 0 1px 2px 0 rgba(0, 0, 0, 0.29);
    }

    &:hover {
      @apply bg-light-100;

      .dark-mode & {
        background: #31373d;
      }
    }

    &:focus {
      @apply outline-none;
    }
  }
}
