@font-face {
  font-family: 'Bit Outline';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/bit-outline/bit-outline.woff2') format('woff2'),
       url('/fonts/bit-outline/bit-outline.woff') format('woff');
}
