$gray-50 : #fafafa;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

$blue-50 : #e3f2fd;
$blue-100: #bbdefb;
$blue-200: #90caf9;
$blue-300: #64b5f6;
$blue-400: #42a5f5;
$blue-500: #2196f3;
$blue-600: #1e88e5;
$blue-700: #1976d2;
$blue-800: #1565c0;
$blue-900: #0d47a1;

// Todo: remove
$red-100: #FF004E;
$red-200: #EF0049;
$red-300: #DF0044;
$red-400: #CF003F;
$red-500: #BF003A;
$red-600: #AF0035;
$red-700: #9F0030;
$red-800: #8F002B;
$red-900: #7F0026;

$dark-100: #A5A8BD;
$dark-200: #9094A7;
$dark-300: #7C7F91;
$dark-400: #686B7B;
$dark-500: #535665;
$dark-600: #3F414F;
$dark-700: #2A2D39;
$dark-800: #20232E;
$dark-900: #161823;
