@import "colors";

.content {
  @apply text-gray-900;

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1 { @apply text-4xl;  }
  h2 { @apply text-3xl;  }
  h3 { @apply text-2xl;  }
  h4 { @apply text-xl;   }
  h5 { @apply text-lg;   }
  h6 { @apply text-base; }

  a {
    @apply relative;

    &:after {
      @apply absolute;
      @apply bottom-0;

      content: "";
      z-index: -1;
      top: 75%;
      left: -0.1em;
      right: -0.1em;
      transition: top 300ms ease-out;
      background: rgba($blue-400, 0.4);
    }

    &:hover {
      &:after {
        @apply top-0;
      }
    }
  }

  figcaption {
    @apply mt-1;
    @apply text-sm;
  }

  ul { @apply list-disc;    }
  ol { @apply list-decimal; }

  table {
    @apply w-full;
    @apply border-collapse;
  }

  table, th, td {
    @apply p-2;
    @apply border;
    @apply border-dark-300;
  }

  th {
    @apply font-bold;
  }

  blockquote {
    @apply px-4;
    @apply text-dark-100;
    @apply border-l-3;
    @apply border-dark-100;
    @apply border-opacity-60;
  }

  button {
    @apply relative;
    @apply mx-1;
    @apply p-1;
    @apply font-bold;

    &:focus {
      @apply outline-none;
    }
  }
}
