@import "colors";

.content {
  @apply text-gray-900;

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;

    a {
      @apply relative;
      @apply bg-none;
    }

    @screen anchor {
      a:before {
        @apply absolute;
        @apply text-blue-200;

        content: "#";
      }
    }
  }

  h1 {
    @apply text-4xl;

    a:before {
      left: -29px;
    }
  }

  h2 {
    @apply text-3xl;

    a:before {
      left: -27px;
    }
  }

  h3 {
    @apply text-2xl;

    a:before {
      left: -25px;
    }
  }

  h4 {
    @apply text-xl;

    a:before {
      left: -24px;
    }
  }

  h5 {
    @apply text-lg;

    a:before {
      left: -23px;
    }
  }

  h6 {
    @apply text-base;

    a:before {
      left: -22px;
    }
  }

  a {
    background-image: linear-gradient(to right, $blue-200 0%, $blue-200 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.25em;
    background-position: 0 90%;
    transition: background-size 200ms cubic-bezier(0, 0.8, 0.13, 1);
  }

  figure {
    a:after {
      @apply absolute;
      @apply inset-0;
    }
  }

  figcaption {
    @apply mt-1;
    @apply text-sm;
    @apply text-gray-800;
  }

  ul {
    li {
      @apply relative;
      @apply block;
      @apply mb-2;
      @apply pl-6;

      &:after {
        @apply absolute;
        @apply left-0;

        content: "";
        top: 0.45rem;
        width: 10px;
        height: 10px;
        background: url("/static/icon/li-triangle-min.svg");
        background-size: contain;
      }
    }
  }

  ol {
    @apply list-decimal;

    li {
      @apply mb-2;
      @apply pl-2;
    }
  }

  table {
    @apply w-full;
    @apply border-collapse;
  }

  table, th, td {
    @apply p-2;
    @apply border;
    @apply border-gray-500;
  }

  th {
    @apply font-bold;
  }

  blockquote {
    @apply relative;
    @apply pl-12;
    @apply pr-4;
    @apply py-4;
    @apply bg-gray-100;
    @apply border-l-6;
    @apply border-blue-200;

    &::before {
      @apply absolute;
      @apply text-6xl;
      @apply text-blue-200;

      content: "\201C";
      top: -8px;
      left: 12px;
    }
  }

  button {
    @apply mx-1;
    @apply px-2;
    @apply py-1;
    @apply text-gray-900;
    @apply bg-white;
    @apply border;
    @apply border-gray-500;
    @apply select-none;

    &:hover {
      @apply bg-gray-100;
    }

    &:focus {
      @apply outline-none;
    }
  }

  audio {
    @apply w-full;

    &:focus {
      @apply outline-none
    }
  }
}
