@import "colors";

.content {
  @apply text-gray-900;

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;

    a:after {
      background: none;
    }

    @screen anchor {
      a:before {
        @apply absolute;
        @apply opacity-60;
        @apply text-blue-500;

        content: "#";
      }
    }
  }

  h1 {
    @apply text-4xl;

    a:before {
      left: -29px;
    }
  }

  h2 {
    @apply text-3xl;

    a:before {
      left: -27px;
    }
  }

  h3 {
    @apply text-2xl;

    a:before {
      left: -25px;
    }
  }

  h4 {
    @apply text-xl;

    a:before {
      left: -24px;
    }
  }

  h5 {
    @apply text-lg;

    a:before {
      left: -23px;
    }
  }

  h6 {
    @apply text-base;

    a:before {
      left: -22px;
    }
  }

  a {
    @apply relative;

    &:after {
      @apply absolute;
      @apply bottom-0;

      content: "";
      z-index: -1;
      top: 75%;
      left: -0.1em;
      right: -0.1em;
      transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
      background: rgba($blue-400, 0.4);
    }

    &:hover:after {
      @apply top-0;
    }
  }

  figcaption {
    @apply mt-1;
    @apply text-sm;
  }

  ul {
    li {
      @apply relative;
      @apply block;
      @apply mb-2;
      @apply pl-6;

      &:after {
        @apply absolute;
        @apply left-0;

        content: "";
        top: 0.45rem;
        width: 10px;
        height: 10px;
        background: url("/icons/li-triangle-min.svg");
        background-size: contain;
      }
    }
  }

  ol {
    @apply list-decimal;

    li {
      @apply mb-2;
      @apply pl-2;
    }
  }

  table {
    @apply w-full;
    @apply border-collapse;
  }

  table, th, td {
    @apply p-2;
    @apply border;
    @apply border-gray-500;
  }

  th {
    @apply font-bold;
  }

  blockquote {
    @apply px-4;
    @apply text-gray-600;
    @apply border-l-3;
    @apply border-gray-600;
    @apply border-opacity-60;
  }

  button {
    @apply mx-1;
    @apply px-2;
    @apply py-1;
    @apply text-gray-900;
    @apply bg-white;
    @apply border;
    @apply border-gray-500;

    &:hover {
      @apply bg-gray-100;
    }

    &:focus {
      @apply outline-none;
    }
  }
}
