@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-ExtraLight.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-ExtraLight.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-ExtraLight-Italic.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-ExtraLight-Italic.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-SemiLight.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-SemiLight.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-SemiLight-Italic.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-SemiLight-Italic.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-Light.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-Light.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-LightItalic.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-LightItalic.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-Regular.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-Regular.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-Italic.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-Italic.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-Medium.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-Medium.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-Medium-Italic.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-Medium-Italic.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-Bold.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-Bold.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-Bold-Italic.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-Bold-Italic.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-ExtraBold.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-ExtraBold.woff?v=2.00") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/mono/JetBrainsMono-ExtraBold-Italic.woff2?v=2.00") format("woff2"),
       url("/fonts/mono/JetBrainsMono-ExtraBold-Italic.woff?v=2.00") format("woff");
}
