// Merged themes with some color changes
// https://github.com/PrismJS/prism-themes/blob/master/themes/prism-material-light.css
// https://github.com/AGMStudio/prism-theme-one-dark/blob/master/prism-onedark.css

code[class*="language-"],
pre[class*="language-"] {
  color: #8298a3;
  background: #f6f6f6;
  font-family: Consolas, Monaco, monospace;

  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-size: 1em;
  line-height: 1.5em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  .dark-theme & {
    color: #abb2bf;
    background: #2d2e31;
  }
}

code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
  background: #cceae7;

  .dark-theme & {
    background: #383e49;
  }
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

pre[class*="language-"] {
  margin: 0.5em 0;
  padding: 1.25em 1em;
  overflow: auto;
  position: relative;
}

[class*="language-"] .namespace {
  opacity: 0.7;
}

.token.atrule {
  color: #7c4dff;
  
  .dark-theme & {
    color: #c678dd;
  }
}

.token.attr-name {
  color: #39adb5;
  
  .dark-theme & {
    color: #d19a66;
  }
}

.token.attr-value {
  color: #f6a434;
  
  .dark-theme & {
    color: #98c379;
  }
}

.token.attribute {
  color: #f6a434;
  
  .dark-theme & {
    color: #98c379;
  }
}

.token.boolean {
  color: #7c4dff;
  
  .dark-theme & {
    color: #d19a66;
  }
}

.token.builtin {
  color: #39adb5;
  
  .dark-theme & {
    color: #98c379;
  }
}

.token.cdata {
  color: #39adb5;
  
  .dark-theme & {
    color: #5C6370;
  }
}

.token.char {
  color: #39adb5;
  
  .dark-theme & {
    color: #98c379;
  }
}

.token.class {
  color: #39adb5;
  
  .dark-theme & {
    color: #d19a66;
  }
}

.token.class-name {
  color: #6182b8;
  
  .dark-theme & {
    color: #e6c07b;
  }
}

.token.comment {
  color: #aabfc9;
  
  .dark-theme & {
    color: #5c6370;
  }
}

.token.constant {
  color: #7c4dff;
  
  .dark-theme & {
    color: #d19a66;
  }
}

.token.deleted {
  color: #e53935;
  
  .dark-theme & {
    color: #d19a66;
  }
}

.token.doctype {
  color: #aabfc9;
  
  .dark-theme & {
    color: #5c6370;
  }
}

.token.entity {
  color: #e53935;
  
  .dark-theme & {
    color: #5c6370;
  }
}

.token.function {
  color: #7c4dff;
  
  .dark-theme & {
    color: #61afef;
  }
}

.token.hexcode {
  color: #f76d47;
  
  .dark-theme & {
    color: #d19a66;
  }
}

.token.id {
  color: #7c4dff;
  font-weight: bold;
  
  .dark-theme & {
    color: #c678dd;
  }
}

.token.important {
  color: #7c4dff;
  font-weight: bold;
  
  .dark-theme & {
    color: #c678dd;
  }
}

.token.inserted {
  color: #39adb5;
  
  .dark-theme & {
    color: #98c379;
  }
}

.token.keyword {
  color: #7c4dff;
  
  .dark-theme & {
    color: #c678dd;
  }
}

.token.number {
  color: #f76d47;
  
  .dark-theme & {
    color: #d19a66;
  }
}

.token.operator {
  color: #39adb5;
  
  .dark-theme & {
    color: #56b6c2;
  }
}

.token.prolog {
  color: #aabfc9;
  
  .dark-theme & {
    color: #5c6370;
  }
}

.token.property {
  color: #39adb5;
  
  .dark-theme & {
    color: #d19a66;
  }
}

.token.pseudo-class {
  color: #f6a434;
  
  .dark-theme & {
    color: #98c379;
  }
}

.token.pseudo-element {
  color: #f6a434;
  
  .dark-theme & {
    color: #98c379;
  }
}

.token.punctuation {
  color: #39adb5;
  
  .dark-theme & {
    color: #abb2bf;
  }
}

.token.regex {
  color: #6182b8;
  
  .dark-theme & {
    color: #c678dd;
  }
}

.token.selector {
  color: #e53935;
  
  .dark-theme & {
    color: #e06c75;
  }
}

.token.string {
  color: #f6a434;
  
  .dark-theme & {
    color: #98c379;
  }
}

.token.symbol {
  color: #7c4dff;
  
  .dark-theme & {
    color: #d19a66;
  }
}

.token.tag {
  color: #e53935;
  
  .dark-theme & {
    color: #e06c75;
  }
}

.token.unit {
  color: #f76d47;
  
  .dark-theme & {
    color: #d19a66;
  }
}

.token.url {
  color: #e53935;
  
  .dark-theme & {
    color: #56b6c2;
  }
}

.token.variable {
  color: #e53935;
  
  .dark-theme & {
    color: #c678dd;
  }
}
