pre[class*="language-"],
code[class*="language-"] {
  @apply font-mono;
  @apply text-code;
  @apply hypens-none;
  @apply bg-dark-800;
  @apply whitespace-pre;
  @apply leading-relaxed;

  .table {
    display: inline;
  }
}

pre[class*="language-"] {
  @apply my-4;
  @apply p-4;
  @apply relative;
  @apply overflow-auto;
}

:not(pre) > code {
  @apply font-mono;
  @apply text-code;
  @apply bg-dark-800;
  @apply leading-relaxed;

  padding: 2px 4px;
}

[class*="language-"] .namespace {
  @apply opacity-75;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #636f88;
}

.token.boolean,
.token.constant,
.token.deleted,
.token.entity,
.token.keyword,
.token.operator,
.token.property,
.token.punctuation,
.token.symbol,
.token.tag,
.token.url,
.token.variable {
  color: #81a1c1;
}

.token.number {
  color: #b48ead;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #a3be8c;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #88c0d0;
}

.token.regex,
.token.important {
  color: #d08770;
}

.token.bold,
.token.important {
  @apply font-bold;
}
