code[class*="language-"],
pre[class*="language-"] {
  @apply rounded-sm;
  @apply bg-dark-600;
  @apply whitespace-pre;

  font-family: Consolas, Monaco, monospace;

  tab-size: 4;
  hyphens: none;

  .table {
    display: inline;
  }
}

pre[class*="language-"] {
  @apply p-4;
  @apply my-4;
  @apply relative;
  @apply overflow-auto;
}

:not(pre) > code {
  @apply px-2;
  @apply py-1;
  @apply rounded-sm;
  @apply bg-dark-600;
  @apply text-dark-200;

  font-family: Consolas, Monaco, monospace;
}

[class*="language-"] .namespace {
  @apply opacity-75;
}

.token.atrule {
    color: #c678dd;
}

.token.attr-name {
    color: #d19a66;
}

.token.attr-value {
    color: #98c379;
}

.token.attribute {
    color: #98c379;
}

.token.boolean {
    color: #d19a66;
}

.token.builtin {
    color: #98c379;
}

.token.cdata {
    color: #5C6370;
}

.token.char {
    color: #98c379;
}

.token.class {
    color: #d19a66;
}

.token.class-name {
    color: #e6c07b;
}

.token.comment {
    color: #5c6370;
}

.token.constant {
    color: #d19a66;
}

.token.deleted {
    color: #d19a66;
}

.token.doctype {
    color: #5c6370;
}

.token.entity {
    color: #5c6370;
}

.token.function {
    color: #61afef;
}

.token.hexcode {
    color: #d19a66;
}

.token.id {
  color: #7c4dff;
    color: #c678dd;
}

.token.important {
  color: #7c4dff;
    color: #c678dd;
}

.token.inserted {
    color: #98c379;
}

.token.keyword {
    color: #c678dd;
}

.token.number {
    color: #d19a66;
}

.token.operator {
    color: #56b6c2;
}

.token.prolog {
    color: #5c6370;
}

.token.property {
    color: #d19a66;
}

.token.pseudo-class {
    color: #98c379;
}

.token.pseudo-element {
    color: #98c379;
}

.token.punctuation {
    color: #abb2bf;
}

.token.regex {
    color: #c678dd;
}

.token.selector {
    color: #e06c75;
}

.token.string {
    color: #98c379;
}

.token.symbol {
    color: #d19a66;
}

.token.tag {
    color: #e06c75;
}

.token.unit {
    color: #d19a66;
}

.token.url {
    color: #56b6c2;
}

.token.variable {
    color: #c678dd;
}
