@import "nord";

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt" 0, "tnum", "case", "rlig", "cv01", "cv02", "cv03", "cv04", "cv07";
}

::-webkit-scrollbar {
  @apply w-2;
  @apply h-2;
  @apply bg-base-light;

  .dark-mode & {
    @apply bg-base-dark;
  }
}

::-webkit-scrollbar-thumb {
  background: darken($base-light, 15%);

  .dark-mode & {
    background: lighten($base-dark, 15%);
  }

  &:hover {
    background: darken($base-light, 20%);

    .dark-mode & {
      background: lighten($base-dark, 20%);
    }
  }
}

.header-shadow {
  box-shadow: rgba(mix($base-light, #000000, 85%), 0.15) 0px 5px 10px 0px;

  .dark-mode & {
    box-shadow: rgba(mix($base-dark, #000000), 0.15) 0px 5px 10px 0px;
  }
}
