@import "nord";

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt" 0, "tnum", "case", "rlig", "cv01", "cv02", "cv03", "cv04", "cv07";
}

::-webkit-scrollbar {
  @apply w-2;
  @apply h-2;
  @apply bg-white;

  .dark-mode & {
    @apply bg-dark-500;
  }
}

::-webkit-scrollbar-thumb {
  @apply bg-light-500;

  .dark-mode & {
    @apply bg-dark-400;
  }

  &:hover {
    @apply bg-light-600;

    .dark-mode & {
      @apply bg-dark-300;
    }
  }
}

.header-shadow {
  box-shadow: rgba($snow-storm-0, 0.15) 0px 5px 10px 0px;
  transition: box-shadow 250ms ease-in-out;

  .dark-mode & {
    box-shadow: rgba($polar-night-0, 0.15) 0px 5px 10px 0px;
  }
}
