<!DOCTYPE html>
<html x-data="{ menu: false, scroll: false, transition: true, dark: isDarkTheme() }" class="font-body antialiased" lang="{{ .Site.Language }}">
  <head>
    {{ partial "head" . }}
  </head>
  <body x-on:scroll.window="scroll = window.scrollY > 0" :class="{ 'overflow-y-hidden': menu }" class="flex flex-col min-w-screen min-h-screen m-0 p-0 bg-base-light dark:bg-base-dark">
    {{ partial "header" . }}

    <div class="w-full m-auto">
      {{ block "main" . }}
      {{ end }}
    </div>

    {{ partial "javascript" (dict "context" . "paths" (slice "js/vendor/alpine.js" "js/main.js") "name" "js/main.js") }}
  </body>
</html>
