<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="flex flex-col min-w-screen min-h-screen m-0 p-0 font-body bg-gray-900">
    {{ partial "header" . }}

    <div class="w-full m-auto">
      {{ block "main" . }}
      {{ end }}
    </div>

    {{ partial "javascript" (dict "context" . "paths" (slice "js/vendor/alpine.js" "js/vendor/headroom.js" "js/vendor/prism.js" "js/headroom.js" "js/prism.js") "name" "js/main.js") }}
  </body>
</html>
