{{ define "main" }}
  <div class="w-full max-w-screen-md mx-auto my-4 px-4 text-white">
    <h1 class="glitch mb-4 text-4xl font-bold" data-text="{{ .Title }}">{{ .Title }}</h1>
    <div class="mt-4">
      {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="block sm:flex mb-6" style="align-items: flex-start;">
          <div class="flex mr-0 sm:mr-10 text-3xl font-bold">
            <div class="accented accent">{{ .Key }}</div>
          </div>

          <ul class="w-full">
            {{ range .Pages }}
              <li class="py-3 border-b border-dashed border-dark-100">
                <a class="flex justify-between" href="{{ .Permalink }}">
                  <span>{{ .Title }}</span>
                  <span>
                    {{ if .Site.Params.dateformShort }}
                      {{ .Date.Format .Site.Params.dateformShort }}
                    {{ else }}
                      {{ .Date.Format "Jan 2" }}
                    {{ end }}
                  </span>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
