{{ define "main" }}
  <div class="text-normal w-full max-w-screen-md mx-auto my-4">
    <h1 class="text-important mb-4 font-bold text-4xl">{{ .Title }}</h1>
    <div class="mt-4">
      {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="block sm:flex mb-6">
          <div class="mr-10 text-3xl">{{ .Key }}</div>

          <ul class="w-full">
            {{ range .Pages }}
              <li class="py-3 border-b border-dashed border-grey-light dark:border-grey-dark">
                <a class="flex justify-between" href="{{ .Permalink }}">
                  <span>{{ .Title }}</span>
                  <span>
                    {{ if .Site.Params.dateformShort }}
                      {{ .Date.Format .Site.Params.dateformShort }}
                    {{ else }}
                      {{ .Date.Format "Jan 2" }}
                    {{ end }}
                  </span>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
