html {
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt", "tnum", "frac", "case", "rlig", "ss01";
}

.main a {
  @apply underline transition duration-150 ease-in-out;
}

.main a:hover {
  @apply text-blue-500;
}

.no-hover:hover {
  color: inherit !important;
}
