<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ range .Site.Author }}{{ . }}{{ end }}{{ end }}">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary | plainify }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">

<link rel="preload" href="/fonts/roboto/roboto-400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/roboto/roboto-700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/roboto-mono/roboto-mono-400.woff2" as="font" type="font/woff2" crossorigin>

{{ partial "style" . }}
{{ partial "favicons" . }}

<title>
  {{- if .IsHome -}}
    {{- $.Site.Title -}}
  {{- else -}}
    {{- .Title -}}
  {{- end -}}
</title>

{{ if .Site.IsServer }}
  {{ $scripts := slice }}
  {{ $scripts = $scripts | append "js/vendor/prism.min.js" }}
  {{ $scripts = $scripts | append "js/prism.js" }}
  {{ partial "javascript" (dict "context" . "paths" $scripts "name" "js/prism.js") }}
{{ end }}

{{ partial "esbuild-defer" (dict "context" . "path" "js/alpine.js") }}
{{ partial "esbuild-async" (dict "context" . "path" "js/headroom.js") }}
