<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ range .Site.Author }}{{ . }}{{ end }}{{ end }}">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary | plainify }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">

{{ partial "style" . }}
{{ partial "favicons" . }}

<title>
  {{- if .IsHome -}}
    {{- $.Site.Title -}}
  {{- else -}}
    {{- .Title -}}
  {{- end -}}
</title>

{{ $scripts := slice }}
{{ $scripts := $scripts | append "js/vendor/alpine.min.js" }}
{{ $scripts := $scripts | append "js/vendor/headroom.min.js" }}
{{ $scripts := $scripts | append "js/vendor/prism.min.js" }}
{{ $scripts := $scripts | append "js/headroom.js" }}
{{ $scripts := $scripts | append "js/prism.js" }}
{{ partial "javascript" (dict "context" . "paths" $scripts "name" "js/main.js") }}
