<header id="header" class="fixed top-0 z-10 w-full bg-gray-900 text-white shadow-header select-none">
  <nav class="flex justify-between max-w-screen-xl mx-auto">
    <div class="mr-5">
      <a class="flex items-center h-18 px-5" href="{{ .Site.BaseURL }}">
        <div class="h-8">
          {{ partial "logo-text" . }}
        </div>
      </a>
    </div>
    <div class="ml-5">
      <div class="sm:flex hidden hover:text-gray-500">
        {{ range .Site.Menus.main }}
          <a class="flex items-center h-18 px-5 hover:text-white" href="{{ .URL | absURL }}">{{ .Name }}</a>
        {{ end }}
      </div>
      <div class="flex sm:hidden">
        <button :class="{ 'is-active': menu }" @click="menu = !menu" class="hamburger hamburger--squeeze h-18 focus:outline-none">
          <span class="hamburger-box align-middle">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </nav>
</header>
<div class="aboslute top-0 min-h-18 w-full bg-gray-900"></div>
<div x-show="menu" class="mobile-menu block sm:hidden w-full bg-gray-900 text-white overflow-y-auto shadow-header select-none" style="display: none">
  <div class="flex flex-col mb-5 hover:text-gray-500">
    {{ range .Site.Menus.main }}
      <a class="flex justify-center items-center h-18 hover:text-white" href="{{ .URL | absURL }}">{{ .Name }}</a>
    {{ end }}
  </div>
</div>
